:root {
  --color: salmon;
  --color-light: rgb(250, 186, 160);
  --on-color: var(--background);
  --on-color-light: var(--on-background);

  --background: white;
  --neutral-light: rgba(0, 0, 0, .1);
  --neutral: rgba(0, 0, 0, .4);
  --neutral-dark: rgba(0, 0, 0, .5);
  --on-background: black;

  --border-width: 1.5px;

  --fields-button-height: 2.4em;
  --fields-button-width: 2em;
}

html {
  color: var(--on-background);
  background: var(--background);
}

/*  TODO: Make another surrounding class to increase specificity and ensure styling in here will override any in Datepicker.css. */
.datepicker .calendar.inline {
  display: block;

  margin: .5em auto;
}

.datepicker {
  margin: 1em;
}

.fields {
  width: calc(100% - 1em);
  padding: 1em .5em .5em;
  margin: 0 0 .5em;

  display: flex;
  justify-content: space-between;
  align-items: center;

  /* line-height: 1.5em; */
  border-radius: .25em;

  background: var(--neutral-light);
  box-shadow: .02em .02em .125em var(--neutral-dark);
}

.field {
  display: inline-block;
  position: relative;
  padding: .5em .25em;

}

.field input,
.text-field input {
  width: calc(100% - .5em);
  text-align: left;

  position: relative;
  z-index: 1;
  font-size: 1em;
  line-height: 1em;

  color: var(--on-background);
  background: transparent;
  border: none;
}

.field label {
  position: absolute;
  left: .5em;
  bottom: .5em;

  transition: all .3s;
}

.field:focus label,
.field:active label,
.field:focus-within label,
.field input.filled+label,
.text-field:focus label,
.text-field:active label,
.text-field:focus-within label,
.text-field input.filled+label {
  bottom: 2.5em;
  font-size: .75em;
  font-weight: bold;
}

.fields-button {
  position: relative;
  cursor: pointer;

  height: var(--fields-button-height);
  width: var(--fields-button-width);
  box-sizing: border-box;

  border: none;
  background: transparent;
}

.fields-button::before,
.fields-button::after,
.fields-button span::before,
.fields-button span::after {
  content: '';
  display: inline-block;

  border-radius: calc(var(--fields-button-width) / 5);
}

.fields-button::after {
  position: absolute;
  bottom: 0;
  left: 0;

  height: var(--fields-button-width);
  width: var(--fields-button-width);
  box-sizing: border-box;

  border: calc(var(--fields-button-width) / 5) solid var(--on-background);
  background: transparent;
}

.fields-button span {
  position: absolute;
  display: inline-block;
  left: 0;
  top: calc(var(--fields-button-height) / 4);

  height: calc(var(--fields-button-height) / 5);
  width: var(--fields-button-width);

  background: var(--on-background);
}

.fields-button span::before,
.fields-button span::after {
  position: absolute;
  top: calc(var(--fields-button-height) / -4);

  height: calc(var(--fields-button-height) / 3);
  width: calc(var(--fields-button-width) / 5);
  background: var(--on-background);
}

.fields-button span::before {
  right: calc(var(--fields-button-width) / 10);
}

.fields-button span::after {
  left: calc(var(--fields-button-width) / 10);
}

.fields-button:hover::before,
.fields-button:focus::before {
  position: absolute;
  bottom: -.75em;
  left: -.75em;

  height: 3.5em;
  width: 3.5em;

  border-radius: 1.5em;
  background: var(--neutral-light);
}

.fields>button .toggle {
  position: relative;

}

.toggle input,
.checkbox input,
.radio input,
.radio-weekday input {
  opacity: 0;
  width: 0%;
  margin: 0;
  position: absolute;
}

.toggle label {
  position: relative;
}

.toggle label::before,
.toggle label::after {
  display: inline-block;
  content: '';

  margin: 0 .25em -.25em;
  border-radius: 1em;

  cursor: pointer;
  transition: .4s;
}

.toggle label::after {
  width: 2em;
  height: 1.25em;
  background: var(--neutral);
}

.toggle input:checked+label::after {
  background: lightgreen;
}

.toggle label::before {
  position: absolute;
  right: .875em;
  bottom: .375em;
  width: 1em;
  height: 1em;

  background: white;
  box-shadow: .02em .02em .125em var(--neutral-dark);
}

.toggle input:checked+label::before {
  right: .125em
}

.checkbox {
  position: relative;
}

.checkbox label::before,
.checkbox label::after {
  display: inline-block;
  content: '';

  margin: 0 .25em -.25em;

  cursor: pointer;
  transition: .4s;
}

.checkbox label::before {
  height: .75em;
  width: .75em;
  margin: 0 .5em -.125em;

  border: var(--border-width) solid var(--color);
  border-radius: .125em;
  background: var(--background);
}

.checkbox input:checked+label::before {
  background: var(--color);
}

.checkbox input:checked+label::after {
  position: absolute;
  left: .525em;
  bottom: .5625em;

  height: .5em;
  width: .25em;

  border-bottom: var(--border-width) solid var(--background);
  border-right: var(--border-width) solid var(--background);

  transform-origin: center center;
  transform: rotate(45deg);
}

.radio,
.radio-weekday {
  display: inline;
  position: relative;
  margin: 0 .5em;

  cursor: pointer;
  /* TODO: double check cursor on all elements */
}

.radio input,
.radio label {
  cursor: pointer;
}

.radio label::after,
.radio label::before {
  display: inline-block;
  content: '';

  border-radius: .5em;
}

.radio label::before {
  margin: 0 .5em;
  height: .75em;
  width: .75em;

  background: var(--neutral-light);
}

.radio input:checked+label::before {
  background: var(--color);
}

.radio input:checked+label::after {
  position: absolute;
  left: .7em;
  bottom: .4em;

  height: .375em;
  width: .375em;

  background: var(--background);
}

.radio-weekday label {
  cursor: pointer;
}

.radio-weekday label {
  position: relative;
  padding: .5em;
  border-radius: 1em;
  z-index: 2;
}

.radio-weekday label::before {
  display: inline-block;
  content: '';
  position: absolute;
  z-index: -1;
  height: 2em;
  width: 2em;
  top: 50%;
  left: 50%;

  border-radius: 1em;
  /* background: var(--color-light); */
  transform: translate(-50%, -50%);

  transition: .3s;
}

.radio-weekday:hover label::before,
.radio-weekday:focus label::before {
  background: var(--neutral-light);
}

.radio-weekday input:checked+label {
  color: var(--on-color);
}

.radio-weekday input:checked+label::before {
  background: var(--color);
}

.toggle input:disabled+label::after,
.toggle input:disabled+label::before,
.radio input:disabled+label::before,
.checkbox input:disabled+label::before {
  border-color: var(--neutral);
  background: var(--neutral);
}

.toggle label,
.radio label,
.checkbox label {
  cursor: pointer;
}

.toggle input+label:hover::before,
.radio input+label:hover::before,
.checkbox input+label:hover::before,
.radio-weekday input:focus+label::before,
.toggle input:focus+label::before,
.radio input:focus+label::before,
.checkbox input:focus+label::before {
  background: var(--neutral);
  transition: .3s;
}

.toggle input:disabled+label,
.radio input:disabled+label,
.checkbox input:disabled+label {
  color: var(--neutral);
}

.text-field {
  display: inline-block;
  position: relative;
  margin: .5em;
  padding: 1.25em .75em .5em;

  width: calc(50% - 2.5em);

  border-radius: .25em;
  background: var(--neutral-light);
  box-shadow: .02em .02em .125em var(--neutral-dark);
}

.text-field label {
  position: absolute;
  left: 1em;
  bottom: .5em;

  transition: all .3s;
}


.test>div,
.test {
  padding: .5em;
  margin: 1em;
  border-radius: .5em;
  box-shadow: .02em .02em .125em var(--neutral-dark);

  color: var(--on-background);
  background: var(--background);
}

.test>div {
  padding: .5em 1em;
}

.test>div>div {
  margin: .75em 0 .5em;
}

.test ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}