:root {
  --color: salmon;
  --color-light: rgb(250, 186, 160);
  --on-color: white;
  --on-color-light: black;

  --background: white;
  --neutral-light: rgba(0, 0, 0, .1);
  --neutral: rgba(0, 0, 0, .4);
  --neutral-dark: rgba(0, 0, 0, .5);
  --on-background: black;

  --border-width: 1.5px;
}

/*  TODO: Make another surrounding class to increase specificity and ensure styling in here will override any in Datepicker.css. */
.datepicker .calendar.inline {
  display: block;

  margin: .5em auto;
}

.datepicker {
  margin: 1em;
}

.fields {
  width: calc(100% - 1em);
  padding: 1em .5em .5em;
  margin: 0 0 .5em;

  display: flex;
  justify-content: space-between;
  align-items: center;

  /* line-height: 1.5em; */
  border-radius: .25em;

  background: var(--neutral-light);
  box-shadow: .02em .02em .125em var(--neutral-dark);
}

.field {
  display: inline-block;
  position: relative;
  padding: .5em .25em;
}

.field input {
  width: calc(100% - .5em);
  text-align: left;

  font-size: 1em;
  line-height: 1em;

  background: transparent;
  border: none;
}

.field label {
  position: absolute;
  left: .5em;
  bottom: .5em;
  z-index: -1;

  transition: all .3s;
}

.field:focus label,
.field:active label,
.field:focus-within label,
.field input.filled+label {
  bottom: 2.5em;
  font-size: .75em;
  font-weight: bold;
}

.field button {
  position: absolute;
  right: 0;
  bottom: .5em;
}

.toggle {
  position: relative;

}

.toggle input,
.checkbox input,
.radio input {
  opacity: 0;
  width: 0%;
  margin: 0;
  position: absolute;
}

.toggle label {
  position: relative;
}

.toggle label::before,
.toggle label::after {
  display: inline-block;
  content: '';

  margin: 0 .25em -.25em;
  border-radius: 1em;

  cursor: pointer;
  transition: .4s;
}

.toggle label::after {
  width: 2em;
  height: 1.25em;
  background: var(--neutral);
}

.toggle input:checked+label::after {
  background: lightgreen;
}

.toggle label::before {
  position: absolute;
  right: .875em;
  bottom: .375em;
  width: 1em;
  height: 1em;

  background: white;
  box-shadow: .02em .02em .125em var(--neutral-dark);
}

.toggle input:checked+label::before {
  right: .125em
}

.checkbox {
  position: relative;
}

.checkbox label::before,
.checkbox label::after {
  display: inline-block;
  content: '';

  margin: 0 .25em -.25em;

  cursor: pointer;
  transition: .4s;
}

.checkbox label::before {
  height: .75em;
  width: .75em;
  margin: 0 .5em -.125em;

  border: var(--border-width) solid var(--color);
  border-radius: .125em;
  background: var(--background);
}

.checkbox input:checked+label::before {
  background: var(--color);
}

.checkbox input:checked+label::after {
  position: absolute;
  left: .525em;
  bottom: .5625em;

  height: .5em;
  width: .25em;

  border-bottom: var(--border-width) solid var(--background);
  border-right: var(--border-width) solid var(--background);

  transform-origin: center center;
  transform: rotate(45deg);
}

.radio {
  display: inline;
  position: relative;
  margin: 0 .5em;

  cursor: pointer;
  /* TODO: double check cursor on all elements */
}

.radio label::after,
.radio label::before {
  display: inline-block;
  content: '';

  border-radius: .5em;
}

.radio label::before {
  margin: 0 .5em;
  height: .75em;
  width: .75em;

  background: var(--neutral-light);
}

.radio input:checked+label::before {
  background: var(--color);
}

.radio input:checked+label::after {
  position: absolute;
  left: .7em;
  bottom: .4em;

  height: .375em;
  width: .375em;

  background: var(--background);
}

.test>div,
.test {
  padding: .5em;
  margin: 1em;
  border-radius: .5em;
  box-shadow: .02em .02em .125em var(--neutral-dark);
}

.test>div {
  padding: .5em 1em;
}