:root {
  --color: salmon;
  --color-light: lightsalmon;
  --gray: gray;
  --on-gray: white;
  --hover: lightgray;
  --divider: rgba(0, 0, 0, 0.12);
  --header: rgba(0, 0, 0, 0.38);
  --background: white;
}

table,
div.header {
  max-width: 296px;
  max-height: 354px;
  /* display: block; */
}

table,
td,
th {
  /* border: 1px solid var(--gray); */
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  width: 100%;
}

thead {
  color: var(--header);
}

th {
  text-align: center;
  padding: 0 0 8px 0;
  font-size: 11px;
  font-weight: 400;
  color: var(--gray);
}

.divider {
  position: relative;
  height: 1px;
}

.divider::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  /* left: -8px;
  right: -8px; 
  trying to go past margins*/
  height: 1px;
  background: var(--divider);
}


tbody {
  font-size: 13px;
  min-width: 224px;
}

td {
  /* text-align: center; */
  cursor: pointer;
  position: relative;
  margin: 0 auto;

  box-sizing: border-box;

  /* height: 0;
  line-height: 0; */
  outline: 0;

  padding: .25em;
}

td div {
  width: 90%;
  height: 90%;

  display: flex;
  align-items: center;
  justify-content: center;

  line-height: 1;

  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-radius: 999px;
  border-color: transparent;

  /* position: absolute; */
  position: relative;
  top: 5%;
  left: 5%;
}

td.active div {
  background-color: var(--hover);
}

td.beginRange div,
td.endRange div,
td.selected div {
  background-color: var(--color);
}

td.beginRange {
  border-top-left-radius: 999px;
  border-bottom-left-radius: 999px;
}

td.endRange {
  border-top-right-radius: 999px;
  border-bottom-right-radius: 999px;
}

td.withinRange {
  border-radius: 0;
}

td.beginRange,
td.endRange,
td.hovered,
td:hover {}

td.beginRange,
td.endRange,
td.withinRange,
td.beginRange,
td.endRange {
  background-color: var(--color-light);
}

td.today div {
  border: 2px solid var(--color);
}

td.hovered div,
td:hover div {
  background-color: var(--hover);
}

td.hoveredBefore {}

td.hoveredAfter {}

td.disabled {
  background-color: var(--gray);
  color: var(--on-gray);
}

button {
  height: 2em;
  cursor: pointer;

  font-size: 1em;
  background-color: var(--background);
  border: none;
  border-radius: 999px;
}

button:focus,
button:hover {
  background-color: var(--hover);
}

button.left,
button.right {
  position: relative;
  width: 2em;
}

button.left::after,
button.right::after {
  border-right: .25em solid currentColor;
  border-bottom: .25em solid currentColor;

  transform-origin: center center;
}

button.left::after,
button.right::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 30%;
  left: 35%;

  width: .5em;
  height: .5em;

}

button.left::after {
  transform: rotate(135deg);
}

button.right::after {
  transform: rotate(-45deg);
  left: 25%;
}

/* button.left::before,
button.right::before {
  transform: rotate(45deg);
}

button.left::after,
button.right::after {
  transform: rotate(-45deg);
}

button.left::before,
button.left::after {
  transform-origin: left center;
}

button.right::before,
button.right::after {
  transform-origin: right center;
} */

div.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}