:root {
    --color: salmon;
    --color-light: rgb(250, 186, 160);
    --on-color: white;
    --on-color-light: black;

    --background: white;
    --neutral-light: rgba(0, 0, 0, .1);
    --neutral: rgba(0, 0, 0, .4);
    --neutral-dark: rgba(0, 0, 0, .5);
    --on-background: black;

    --hover: rgba(0, 0, 0, .1);
    --on-hover: black;

    --disabled: white;
    --on-disabled: rgba(0, 0, 0, .4);

    --border-width: 1.5px;
}

.calendar:not(.inline)+.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.calendar {
    /* max-height: 354px; */

    box-sizing: border-box;
    padding: 1em 1.25em;

    color: var(--on-background);
    background: var(--background);

    overflow: hidden;
}

.calendar.inline {
    display: inline-block;
}

.calendar.inline,
.calendar.popup {
    max-width: calc(325px + 2.25em);
}

.calendar.popup,
.calendar.popup-large {
    position: absolute;
    z-index: 300;

    border-radius: .5em;
    box-shadow: .02em .02em .125em var(--neutral-dark);
}

.calendar.popup-large {
    display: block;
    padding: 1em;

    /* min-height: 350px;
    min-width: 350px; */
    left: 50%;

    font-size: 1.125em;
    box-shadow: .25em .25em 1em var(--neutral-dark);
    transform: translate(-50%, 0);
}

.calendar.popup-large+.overlay {
    z-index: 200;
    background: var(--neutral-light);
}

.calendar table {
    border-spacing: 0;
    border-collapse: collapse;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    width: 100%;
}

.calendar thead {
    overflow-x: hidden;
}

.calendar th {
    text-align: center;
    padding: 0 0 .7em 0;
    font-size: .7em;
    font-weight: 400;
    color: var(--neutral);
}

.calendar .divider {
    position: relative;
    height: var(--border-width);
}

.calendar .divider::after {
    content: '';
    position: absolute;
    top: 0;
    left: -10em;
    right: -10em;

    height: 1px;
    background: var(--neutral-light);
}

.calendar tbody {
    font-size: .8em;
}

.calendar .labelText {
    color: var(--neutral-dark);
    font-size: 1.1em;
    font-weight: 500;
}

.calendar td {
    cursor: pointer;
    position: relative;

    box-sizing: border-box;
    margin: 0 auto;
    padding: calc(var(--border-width) * 3) var(--border-width);

    line-height: 1;
    outline: 0;
    /* Handle focus response same as handle hover. */
}

.calendar td div {
    width: 90%;
    height: 90%;

    display: flex;
    align-items: center;
    justify-content: center;

    line-height: .8em;

    box-sizing: border-box;
    border-width: var(--border-width);
    border-style: solid;
    border-radius: 999px;
    border-color: transparent;

    position: relative;
    top: 5%;
    left: 5%;
    padding: 1em;
}

/* td.active div {
    background-color: var(--neutral);
  } */
.calendar td.disabled {
    cursor: default;
    color: var(--on-disabled);
    background-color: var(--disabled);
}

.calendar td.withinRange,
.calendar td.withinHoveredRange {
    border-radius: 0;
}

.calendar td.beginRange,
.calendar td.beginHoveredRange:not(.withinRange) {
    border-top-left-radius: 999px;
    border-bottom-left-radius: 999px;
}

.calendar td.endRange,
.calendar td.endHoveredRange:not(.withinRange) {
    border-top-right-radius: 999px;
    border-bottom-right-radius: 999px;
}

.calendar td.hovered div,
.calendar td:not(.disabled):hover div,
.calendar td:not(.disabled):focus div,
.calendar td.withinHoveredRange {
    background-color: var(--hover);
    color: var(--on-hover);
}

.calendar td.beginRange.withinHoveredRange:not(.beginHoveredRange) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background: linear-gradient(to left, var(--color-light), var(--hover));
}

.calendar td.endRange.withinHoveredRange:not(.endHoveredRange) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background: linear-gradient(to right, var(--color-light), var(--hover));
}

.calendar td.beginRange.beginHoveredRange,
.calendar td.endRange.beginHoveredRange {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    background: linear-gradient(to right, var(--color-light), var(--hover));
}

.calendar td.beginRange.endHoveredRange:not(.hovered),
.calendar td.endRange.endHoveredRange:not(.hovered) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    background: linear-gradient(to left, var(--color-light), var(--hover));
}

.calendar td.beginRange,
.calendar td.endRange,
.calendar td.withinRange {
    background-color: var(--color-light);
    color: var(--on-color-light);
}

.calendar td.beginRange div,
.calendar td.endRange div,
.calendar td.selected div {
    background-color: var(--color);
    color: var(--on-color);
    font-weight: 500;
}

.calendar td.today div {
    border-color: var(--neutral);
}

.calendar td.today.selected div {
    border-color: var(--color);
}

.calendar td.today.selected div,
.calendar td.today.active div {
    box-shadow: inset 0 0 0 var(--border-width) var(--background);
}

.calendar td.today.selected.withinRange div,
.calendar td.today.selected.beginRange div,
.calendar td.today.selected.endRange div {
    box-shadow: inset 0 0 0 var(--border-width) var(--color-light);
}

.calendar button {
    height: 2em;

    font-size: 1em;
    background-color: transparent;
    border: none;
}

.calendar button:not(:disabled) {
    cursor: pointer;
}

.calendar button:not(:disabled):focus,
.calendar button:not(:disabled):hover {
    background-color: var(--neutral-light);
}

.calendar button.period {
    padding: 0 2.5em;
    border-radius: .125em;
}

.calendar button.period:not(:disabled)::after {
    display: inline-block;
    content: '';
    margin: .125em;

    width: 0;
    height: 0;

    border-left: .32em solid transparent;
    border-right: .32em solid transparent;
    border-top: .32em solid var(--neutral-dark);
}

.calendar button.left,
.calendar button.right {
    position: relative;
    width: 2em;
    border-radius: 999px;
}

.calendar button.left:not(:disabled)::after,
.calendar button.right:not(:disabled)::after {
    border-right: .2em solid var(--neutral-dark);
    border-bottom: .2em solid var(--neutral-dark);

    transform-origin: center center;
}

.calendar button.left::after,
.calendar button.right::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 30%;
    left: 35%;

    width: .5em;
    height: .5em;

}

.calendar button.left::after {
    transform: rotate(135deg);
}

.calendar button.right::after {
    transform: rotate(-45deg);
    left: 25%;
}

.calendar div.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: calc(var(--border-width)*4) 0;
    margin: inherit;
}

.datepicker {
    position: relative;
}